<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Heart Disease Prediction</h1>
        <form action="/predict" method="post">
            <label for="cp">CP:</label>
            <input type="text" id="cp" name="cp">

            <label for="ca">CA:</label>
            <input type="text" id="ca" name="ca">

            <label for="thalach">Thalach:</label>
            <input type="text" id="thalach" name="thalach">

            <label for="oldpeak">Oldpeak:</label>
            <input type="text" id="oldpeak" name="oldpeak">

            <label for="age">Age:</label>
            <input type="text" id="age" name="age">

            <label for="thal">Thal:</label>
            <input type="text" id="thal" name="thal">

            <label for="trestbps">Trestbps:</label>
            <input type="text" id="trestbps" name="trestbps">

            <label for="chol">Chol:</label>
            <input type="text" id="chol" name="chol">

            <label for="exang">Exang:</label>
            <input type="text" id="exang" name="exang">

            <label for="slope">Slope:</label>
            <input type="text" id="slope" name="slope">

            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
